.hero{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%; /*Min-height para melhor responsividade*/
    overflow: hidden;
    
}

.hero__text{
    flex-shrink: 0; /*Previne que o texto encolha demais*/
}

.hero__title{
    font-size: 2.10rem;
    margin-bottom: 2rem;

    
}

.hero__subtitle{
    width: 33ch;
    font-size: var(--size-base);
    margin-bottom: 2rem;
}

.hero__image{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1rem;
   
}

.hero__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}





/* xs */
  @media (min-width: 475px) {

.hero__image{
    max-width: 350px;
}

.hero__title{
    margin-bottom: 2rem;
}

.hero__subtitle{
    margin-bottom: 2rem;
}

  
}  

/* sm */
 @media (min-width: 640px) {
    .hero{
        height: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .hero__text{
        margin-bottom: auto;
    }

    .hero__image{
       max-width: 70%;
    }
  
} 

/* md */
 @media (min-width: 768px) {
    .hero{
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    }

    

    .hero__image{
       max-width: 70%;
    }

    .hero__cta{
        font-size: var(--size-xl);

    }
    
 
} 

/* lg */
  @media (min-width: 1024px) {
    .hero__image{
        max-width: 60%;
        flex: 1;
    }

    .hero__title{
        margin-bottom: 1.5rem;
    }

    .hero__subtitle{
     width: 50ch;   
    }
    
    .hero__text{
        flex: 1;
    }
    



}  

/* xl */
 @media (min-width: 1280px) {
    .hero__title{
        font-size: var(--size-5xl);
    }

    .hero__subtitle{
        font-size: var(--size-xl);
    }

    .hero__image{
       max-width: 50%;
    }
  
} 

/* 2xl */
 @media (min-width: 1536px) {
    .hero__title{
        font-size: var(--size-6xl);
    }

    .hero__subtitle{
        font-size: var(--size-2xl);
    }
  
} 

